{{#each data}}
    <p class="m-0 p-0">
        <span style="color: #00F; font-weight: bold;">{{this.email}}</span>
        <span class="me-1" style="color: #804000;">[{{this.date}}]:</span>
        <span style="color: #008f39; font-style: italic;">{{this.message}}</span>
    </p>
{{/each}}
                    