<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand m-0" href="/">CoderStore</a>
    <ul class="navbar-nav d-block">
      {{#each categories}}
        <li class="nav-item" style="float: left; margin-left: 10px; margin-right: 10px">
          <a class="nav-link text-uppercase" aria-current="page" href="/products/{{this}}">{{this}}</a>
        </li>
      {{/each}}
    </ul>
    <div>
      <div class="flex align-self-center">
        <div class="d-inline-block me-4">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a type="button" class="btn position-relative p-0" href="/cart">
                <img src="../../assets/img/shopping-cart.png" style="width:30px" alt="cart"> 
                {{#if hasItems}}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger p-1">
                  {{qtyItems}} 
                  <span class="visually-hidden">
                    cart items
                  </span>
                </span>
                {{/if}}
              </a>
            </li>
          </ul>
        </div>
        <div class="d-inline-block">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle m-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-inline-block" style="width: 35px; height: 35px">
                  <img src="../../assets/img/user.webp" class="rounded-circle h-100 w-100" alt="avatar" style="object-fit: cover; object-position: center center">
                </div>
              </a>
              <div class="dropdown-menu position-absolute end-0 text-center" style="left:unset">
                <p class="mb-0 text-center">{{name}}</p>
                <hr class="my-2">
                <a type="button" class="btn btn-outline-primary mt-2" href="/profile">View Profile</a>
                <button type="submit" class="btn btn-outline-danger mt-2" onclick="closeSession()">Close Session</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  function closeSession(){
    fetch('/api/auth/logout', {
      method: 'POST',
      headers: {
          'Content-Type': 'application/json'
      }
    }).then(function(res) {
      return res.json();
    }).then(function(myJson){
      window.location.href = "/";
    });
  }
</script>