<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CoderStore</a>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search">
        <button class="btn btn-outline-success" type="button" onclick="search()">Search</button>
    </form>
    <div>
      <div class="flex align-self-center">
        <div class="d-inline-block me-4">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a type="button" class="btn position-relative p-0" href="/cart">
                <img src="../../assets/img/cart_icon.png" style="width:30px" alt="cart"> 
                {{#if hasItems}}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger p-1">
                  {{qtyItems}} 
                  <span class="visually-hidden">
                    cart items
                  </span>
                </span>
                {{/if}}
              </a>
            </li>
          </ul>
        </div>
        <div class="d-inline-block">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle m-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-inline-block" style="width: 25px; height: 25px">
                  <img src="../../uploads/avatars/{{avatar}}" class="rounded-circle h-100" alt="...">
                </div>
              </a>
              <div class="dropdown-menu position-absolute end-0 text-center" style="left:unset">
                <p class="mb-0 text-center">{{name}}</p>
                <hr class="my-2">
                <a type="button" class="btn btn-outline-primary mt-2" href="/profile">View Profile</a>
                <a type="button" class="btn btn-outline-danger mt-2" href="/api/auth/logout">Close Session</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>